<head>
    <base href="/" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/semantic/dist/semantic.min.css" />
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <link rel="stylesheet" href="~/css/course-welcome.css" />
    <script src="~/lib/angular/angular.min.js"></script>
    <script src="~/lib/angular/angular-route.min.js"></script>
    <script src="~/js/angular/dlp.js"></script>
    <script src="~/semantic/dist/semantic.min.js"></script>
    <script src="~/js/angular/courseController.js"></script>
    <script src="https://www.youtube.com/iframe_api"></script>

</head>

<body ng-app="dlp" ng-controller="courseController as vm">
    <div class="ui fixed borderless menu">
        <div class="ui container">
            <div class="header item">
                <img class="logo" src="http://www.firecracker.me/webhook-uploads/1470426413399/2000px-Boston_University_Wordmark.png">
            </div>
            <div class="right header item">
                <a class="ui blue big circular label">BC</a>
            </div>
        </div>
    </div>

    <div class="ui vertical left visible sidebar borderless menu" ng-hide="topicModule == true">
        <a href="/course/{{moduleId}}/{{contentModuleId}}/{{x.TopicModuleContentId}}" ng-repeat="x in vm.ContentModules" class="item">
            {{x.ModuleTitle}}
        </a>
    </div>
    <div class="ui vertical left visible sidebar borderless menu" ng-hide="topicModule == false">
        <a href="/course/{{x.Topic.TopicId}}/{{x.Topic.TopicModules[0].TopicModuleId}}" ng-repeat="x in vm.Topics" class="item">
            {{x.Topic.TopicName}}
        </a>
    </div>
    <div class="pusher">
        <div ng-view></div>
    </div>
</body>