@{
    ViewData["Title"] = "Home Page";
}

<head>
    <link rel="stylesheet" href="~/css/front-page.css" />
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/js/front-page.js"></script>
</head>

<div class="front-page">
    <div style="min-height: 200px;" class="ui inverted vertical intro-section center aligned segment">
        <div style="margin-top: 4em;" class="ui text container">
            <h1 class="ui inverted header">
                Build Your Own Learning Experience
            </h1>
        </div>
    </div>

    <div class="ui vertical profile-section center aligned celled grid">
        <div class="eight wide column">
            <h1 class="ui header">
                Select the language you'd like to learn.
            </h1>
            <div class="ui fluid floating labeled icon dropdown button">
                <i class="code outline icon"></i>
                <span class="text">Target Language</span>
                <div class="menu">
                    <div class="item">
                        <img src="http://wikiprogramming.org/wp-content/uploads/2015/05/c-logo.png" class="ui tiny image " />
                        C
                    </div>
                    <div class="item">
                        <img src="https://ignite.apache.org/images/cpp.png" class="ui tiny image" />
                        C++
                    </div>
                    <div class="item">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/2/21/Matlab_Logo.png" class="ui tiny image" />
                        MATLAB
                    </div>
                </div>
            </div>
        </div>

        <div class="eight wide column">
            <h1 class="ui header">
                Select the topics you'd like to learn.
            </h1>
            <table class="ui celled table">
                <thead class="full-width">
                    <tr>
                        <th></th>
                        <th>Topic</th>
                        <th>Prerequisite(s)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="collapsing">
                            <div class="ui fitted toggle checkbox">
                                <input checked="checked" type="checkbox"> <label></label>
                            </div>
                        </td>
                        <td>Introducing C++</td>
                        <td>None</td>
                    </tr>
                    <tr>
                        <td class="collapsing">
                            <div class="ui fitted toggle checkbox">
                                <input checked="checked" type="checkbox"> <label></label>
                            </div>
                        </td>
                        <td>Compilation and Linking</td>
                        <td>None</td>
                    </tr>
                    <tr>
                        <td class="collapsing">
                            <div class="ui fitted toggle checkbox">
                                <input checked="checked" type="checkbox"> <label></label>
                            </div>
                        </td>
                        <td>Basic Syntax</td>
                        <td>None</td>
                    </tr>
                    <tr>
                        <td class="collapsing">
                            <div class="ui fitted toggle checkbox">
                                <input checked="checked" type="checkbox"> <label></label>
                            </div>
                        </td>
                        <td>Functions and Variables</td>
                        <td>Basic Syntax</td>
                    </tr>
                    <tr>
                        <td class="collapsing">
                            <div class="ui fitted toggle checkbox">
                                <input checked="checked" type="checkbox"> <label></label>
                            </div>
                        </td>
                        <td>Control Flow</td>
                        <td>Basic Syntax</td>
                    </tr>
                    <tr>
                        <td class="collapsing">
                            <div class="ui fitted toggle checkbox">
                                <input checked="checked" type="checkbox"> <label></label>
                            </div>
                        </td>
                        <td>Object-Oriented Programming</td>
                        <td>Basic Syntax</td>
                    </tr>
                    <tr>
                        <td class="collapsing">
                            <div class="ui fitted toggle checkbox">
                                <input checked="checked" type="checkbox"> <label></label>
                            </div>
                        </td>
                        <td>Memory Management</td>
                        <td>Basic Syntax</td>
                    </tr>
                    <tr>
                        <td class="collapsing">
                            <div class="ui fitted toggle checkbox">
                                <input checked="checked" type="checkbox"> <label></label>
                            </div>
                        </td>
                        <td>Templates</td>
                        <td>Basic Syntax</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="ui vertical masthead center aligned grid">
        <button class="ui blue button login-button">Start Learning!</button>
    </div>

</div>

<div class="ui small basic modal transition login-modal">
    <h1 class="ui header login-header">
        Create Your Account
    </h1>
    <div class="ui segment login-segment">
        <form class="ui form">
            <div class="field">
                <input class="name-field" type="text" placeholder="Full Name" />
            </div>
            <div class="field">
                <input class="email-field" type="text" placeholder="Email" />
            </div>
            <div class="field">
                <input type="password" placeholder="Password" />
            </div>

            <button class="ui fluid blue sign-up button">Sign Up</button>

        </form>

        <div class="sign-up-terms">
            By signing up to create an account I accept BUDLP
            <br />
            Terms of Use and Privacy Policy.
        </div>

    </div>
</div>