@{
    ViewData["Title"] = "Home Page";
}

<head>
    <base href="/" />
    <link rel="stylesheet" href="~/css/front-page.css" />
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/angular/angular.min.js"></script>
    <script type="text/javascript" src="~/js/angular-wizard.min.js"></script>
    <script type="text/javascript" src="~/js/angular/checklist-model.js"></script>
    <link rel="stylesheet" type="text/css" href="~/css/angular-wizard.min.css">
    <script src="~/lib/angular/angular-route.min.js"></script>
    <script src="~/lib/angular/angular-sanitize.js"></script>
    <script src="~/semantic/dist/semantic.min.js"></script>
    <script src="~/js/waterpipe.js"></script>
    <script src="~/js/jquery.blockUI.js"></script>
    <script src="~/js/angular/dlp.js"></script>
</head>

<div class="vessel" ng-app="dlp" ng-controller="frontPageController as vm">
    <div class="ui grid odle-hp">
        <div class="odle-hero eight wide column">
            <h1 class="odle-headline">Learn Coding and Computer Science Fundamentals</h1>
            <h1 class="odle-subheading">OdleBrix offers a unique learning approach. Start with concepts applicable to any language and then learn how to implement them in a language of your choice.</h1>
        </div>
        <div class="eight wide column">
            <div class="ui segment">
                <form class="ui form">
                    <div class="two fields">
                        <div class="orf field">
                            <label>First Name</label>
                            <input ng-model="vm.UserProfile.FirstName" type="text" name="first-name">
                        </div>
                        <div class="orf field">
                            <label>Last Name</label>
                            <input ng-model="vm.UserProfile.LastName" type="text" name="last-name">
                        </div>
                    </div>
                    <div class="two fields">
                        <div class="orf field">
                            <label>Email</label>
                            <input ng-model="vm.UserProfile.Email" type="email" name="email">
                        </div>
                        <div class="orf field">
                            <label>Password</label>
                            <input class="password register field" ng-model="vm.UserProfile.Password" type="password" name="password">
                        </div>
                    </div>
                    <div ng-if="vm.UserProfile.PasswordWarning" class="ui red segment">{{vm.UserProfile.PasswordWarning}}</div>
                    <div class="orfd ui divider"></div>
                    <button ng-click="vm.CreateProfile()" class="orfb fluid ui blue button" type="submit">Start Learning for Free</button>
                </form>
            </div>
        </div>
        <div style="padding-top: 80px;" class="centered row">
            <div class="sixteen wide column"><h1>OdleBrix Courses</h1></div>
            <div class="sixteen wide column"><h3>Achieve your dreams and change the world</h3></div>
        </div>
        <div style="padding-top: 50px;" class="row">
            <div class="eight wide column">
                <div class="ui fluid card">
                    <div class="content">
                        <div class="header">Introduction to C</div>
                        <div class="description">
                            <p>This course provides an introduction to the C programming language. You will learn the required background knowledge, including memory management, pointers, and how to find bugs when you inevitably use any of those incorrectly.</p>
                        </div>
                    </div>
                    <div class="extra content">
                        <i class="clock icon"></i>
                        9 hours
                    </div>
                </div>
            </div>
            <div class="eight wide column">
                <div class="ui fluid card">
                    <div class="content">
                        <div class="header">Introduction to MATLAB</div>
                        <div class="description">
                            <p>The course provides the foundations of programming in MATLAB®. Variables, arrays, conditional statements, loops, functions, and plots are explained.</p>
                        </div>
                    </div>
                    <div class="extra content">
                        <i class="clock icon"></i>
                        8 hours
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/js/angular/frontPageController.js"></script>
</div>