@{
    ViewData["Title"] = "Home Page";
}

<head>
    <base href="/" />
    <link rel="stylesheet" href="~/css/front-page.css" />
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/angular/angular.min.js"></script>
    <script src="~/lib/angular/angular-route.min.js"></script>
    <script src="~/js/jquery.blockUI.js"></script>
    <script src="~/lib/angular/includeStatic.js"></script>
    <script src="~/js/angular/dlp.js"></script>
    <script src="~/semantic/dist/semantic.min.js"></script>
    <script src="~/js/angular/frontPageController.js"></script>

</head>

<div class="vessel" ng-app="dlp">
    <div ng-view></div>
</div>

<script src="~/js/front-page.js"></script>
