@{
    ViewData["Title"] = "Home Page";
}

<head>
    <link rel="stylesheet" href="~/css/front-page.css" />
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/js/front-page.js"></script>
</head>

<div class="ui center aligned grid presenter">
    <div class="eight wide column">
        <div class="ui form">
            <div class="grouped fields">
                <label>Outbound Throughput</label>
                <div class="field">
                    <div class="ui slider checkbox">
                        <input type="radio" name="throughput" checked="checked">
                        <label>20 mbps max</label>
                    </div>
                </div>
                <div class="field">
                    <div class="ui slider checkbox">
                        <input type="radio" name="throughput">
                        <label>10mbps max</label>
                    </div>
                </div>
                <div class="field">
                    <div class="ui slider checkbox">
                        <input type="radio" name="throughput">
                        <label>5mbps max</label>
                    </div>
                </div>
                <div class="field">
                    <div class="ui slider checkbox checked">
                        <input type="radio" name="throughput">
                        <label>Unmetered</label>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="eight wide column">
        <div class="ui styled accordion">
            <div class="title">
                <i class="dropdown icon"></i>
                What is a dog?
            </div>
            <div class="content">
                <p class="transition hidden">A dog is a type of domesticated animal. Known for its loyalty and faithfulness, it can be found as a welcome guest in many households across the world.</p>
            </div>
            <div class="title">
                <i class="dropdown icon"></i>
                What kinds of dogs are there?
            </div>
            <div class="content">
                <p class="transition hidden">There are many breeds of dogs. Each breed varies in size and temperament. Owners often select a breed of dog that they find to be compatible with their own lifestyle and desires from a companion.</p>
            </div>
            <div class="title active">
                <i class="dropdown icon"></i>
                How do you acquire a dog?
            </div>
            <div class="content active">
                <p class="transition visible">Three common ways for a prospective owner to acquire a dog is from pet shops, private owners, or shelters.</p>
                <p class="transition visible">A pet shop may be the most convenient way to buy a dog. Buying a dog from a private owner allows you to assess the pedigree and upbringing of your dog before choosing to take it home. Lastly, finding your dog from a shelter, helps give a good home to a dog who may not find one so readily.</p>
            </div>
        </div>
    </div>
</div>