@using System.Collections.Generic
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@model LoginViewModel
@inject SignInManager<AuthenticatedUser> SignInManager

@{
    ViewData["Title"] = "Log in";
}

<script src="~/semantic/dist/semantic.min.js"></script>
<link rel="stylesheet" href="~/semantic/dist/semantic.min.css" />
<script src="~/lib/jquery/dist/jquery.js"></script>

<head>
    <style type="text/css">
        body {
            background-color: #f4f4ef;
        }

        body > .grid {
            height: 100%;
        }

        .image {
            margin-top: -100px;
        }

        .column {
            max-width: 450px;
        }

        .ui.header>.image, .ui.header>img{
            width: 14.5em;
        }
    </style>
    <script>
        $(document)
          .ready(function () {
              $('.ui.form')
                .form({
                    fields: {
                        email: {
                            identifier: 'email',
                            rules: [
                              {
                                  type: 'empty',
                                  prompt: 'Please enter your e-mail'
                              },
                              {
                                  type: 'email',
                                  prompt: 'Please enter a valid e-mail'
                              }
                            ]
                        },
                        password: {
                            identifier: 'password',
                            rules: [
                              {
                                  type: 'empty',
                                  prompt: 'Please enter your password'
                              },
                              {
                                  type: 'length[6]',
                                  prompt: 'Your password must be at least 6 characters'
                              }
                            ]
                        }
                    }
                })
              ;
          })
        ;
    </script>
</head>
<body>
        <div class="ui middle aligned center aligned grid">
            <div class="column">
                <div class="ui blue image header">
                    <img src="https://www.dropbox.com/s/obn44rtzbq21x39/odlebrix_3_400x84.png?dl=1" class="image">
                </div>
                <form asp-controller="Account" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="ui large form">
                    <div class="ui stacked segment">
                        <h2 class="ui header">Log Into Your Account</h2>
                        <div class="field">
                            <div class="ui left icon input">
                                <i class="user icon"></i>
                                <input asp-for="Email" type="text" name="email" placeholder="E-mail address">
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui left icon input">
                                <i class="lock icon"></i>
                                <input asp-for="Password" type="password" name="password" placeholder="Password">
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui toggle checkbox">
                                <input asp-for="RememberMe" type="checkbox" name="public">
                                <label>@Html.DisplayNameFor(m => m.RememberMe)</label>
                            </div>
                        </div>
                        <button type="submit" class="ui fluid large blue submit button">Login</button>
                    </div>
                    <div class="ui error message"></div>
                </form>

                <div class="ui message">
                    New to us? <a href="/">Sign Up</a>
                </div>
            </div>
        </div>
</body>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
