<div class="ui container">
    <div class="ui centered grid">
        <div class="row">
            <div class="sixteen wide column">
                <h1 class="target-language">I want to learn...</h1>
            </div>
        </div>
        <div ng-if="vm.Step == 1" class="row">
            <div class="eight wide column">
                <div ng-click="vm.SetTargetLanguage('C')" class="language-card">
                    <div class="vertical-align">
                        <div class="flag-box">
                            <span class="flag flag-svg-large flag-flex-size flag-c"></span>
                        </div>
                        <h2 class="white course-name">
                            C
                        </h2>
                        <p class="num-learners">9 hours</p>
                    </div>
                </div>
                <div ng-click="vm.SetTargetLanguage('MATLAB')" class="language-card">
                    <div class="vertical-align">
                        <div class="flag-box">
                            <span class="flag flag-svg-large flag-flex-size flag-matlab"></span>
                        </div>
                        <h2 class="white course-name">
                            MATLAB
                        </h2>
                        <p class="num-hours">6 hours</p>
                    </div>
                </div>
            </div>
        </div>
        <div ng-if="vm.Step == 2" class="row">
            <div class="eight wide column">
                <div ng-click="vm.TargetLanguage = 'C'" class="language-card">
                    <div class="vertical-align">
                        <div class="flag-box">
                            <span class="flag flag-svg-large flag-flex-size flag-c"></span>
                        </div>
                        <h2 class="white course-name">
                            C
                        </h2>
                        <p class="num-learners">9 hours</p>
                    </div>
                </div>
                <div ng-click="vm.TargetLanguage = 'MATLAB'" class="language-card">
                    <div class="vertical-align">
                        <div class="flag-box">
                            <span class="flag flag-svg-large flag-flex-size flag-matlab"></span>
                        </div>
                        <h2 class="white course-name">
                            MATLAB
                        </h2>
                        <p class="num-hours">6 hours</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>