<div class="ui container">
    <h1 class="ui centered course-intro header">Introduction to Computer Programming</h1>
    <table class="ui selectable very basic table">
        <thead>
            <tr>
                <th>TOPIC</th>
                <th>COMPLETED</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="x in vm.Topics">
                <td class="course-topic heading selectable">
                    <a ng-href="/course/{{x.Topic.TopicModules[0].TopicId}}/{{x.Topic.TopicModules[0].TopicModuleId}}/{{x.Topic.TopicModules[0].TopicModuleContent[0].TopicModuleContentId}}">{{x.Topic.TopicModules[0].TopicModuleTitle}}</a>
                </td>
                <td>
                    <a ng-href="/course/{{x.Topic.TopicModules[0].TopicId}}/{{x.Topic.TopicModules[0].TopicModuleId}}/{{x.Topic.TopicModules[0].TopicModuleContent[0].TopicModuleContentId}}">{{x.ProgressCount}}</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>