.fixed.menu{
    background-color: #2e3d49;
}

.tiny.image{
    filter: brightness(0) invert(1);
}

.pusher{
    top: 49px;
    position: relative;
    height: 100%;
    background-image: url(//d7mj4aqfscim2.cloudfront.net/images/splash-2014/star-pattern1.svg),linear-gradient(to bottom, #0b3e71, #0d64b0);
}

.target-language{
    margin-top: 4em !important;
    margin-bottom: 1em !important;
    letter-spacing: .2px; 
    color:white;
    font-size: 34px;
    font-weight: 500;
}

.flag-c{
    background-position: -115px -5px;
}

.flag-matlab{
    background-position: -5px -5px;
}

.flag-svg-large {
    background-color: rgba(0,0,0,0.1);
    margin: 0;
    vertical-align: middle;
    background-image: url(/images/languages.png);
    -webkit-border-radius: 200px;
    -moz-border-radius: 200px;
    border-radius: 200px;
    margin-top: 16px;
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    display: inline-block;
}

.language-card{
    border: 2px solid rgba(238,238,238,0.25);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    cursor: pointer;
    display: inline-block;
    height: 225px;
    margin: 10px;
    text-align: center;
    vertical-align: top;
    width: 205px;
    color: white;
}

.course-name{
    font-weight: 500;
}

.num-hours{
    font-weight: 500;
}


.language-card:hover {
    background: rgba(255,255,255,0.15);
    border: 2px solid rgba(255,255,255,0.5);
}   

.daily-goal-option {
    margin: 8px;
    padding: 10px;
    width: 320px;
}

.ui.basic.primary.button.daily-goal-option:hover {
    background: rgba(255,255,255,0.25) !important;
    border: 2px solid #fff;
    color: #fff;
}

.ui.basic.primary.button{
    margin-bottom: 16px;
}

.ui.basic.primary.button.set-goal{
    background: #fff !important;
    color: #34b1ee !important;
}

.ui.basic.primary.button.set-goal:hover {
    background: rgba(255,255,255,0.9) !important;
}

.daily-goal-option .daily-goal {
    float: left;
    background: none;
    border: 2px solid rgba(255,255,255,0.7);
    margin: 0 7px 0 0;
}

input[type="checkbox"] {
    position: relative;
    border: none;
    display: inline-block;
    line-height: 1em;
    margin: 0;
    padding: 0;
    width: 1em;
    height: 1em;
    vertical-align: top;
    margin: 0 5px 0 0;
    background: #fff;
    -webkit-appearance: none;
    -webkit-border-radius: 5px;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    font-size: 15px;
    border: 2px solid #1caff6;
}

.daily-goal:checked:after {
    background: #fff;
}

input[type="checkbox"]:checked:after {
    position: absolute;
    content: '';
    left: 20%;
    top: 20%;
    height: 60%;
    width: 60%;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
}

input[type="checkbox"]:focus{
    outline: none;
}

.daily-goal-option .xp-title {
    float: left;
    color: white;
}

.daily-goal-option .xp-text {
    float: right;
    color: white;
}

ul, ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

.set-goal.button {
    display: inline-block !important;
    padding: 8px 20px !important;
    text-align: center !important;
    vertical-align: middle !important;
    cursor: pointer !important;
    background-image: none !important;
    border-radius: 100px !important;
    white-space: nowrap !important;
    line-height: 20px !important;
    font-weight: 700 !important;
    font-size: 15px !important;
    -webkit-font-smoothing: antialiased !important;
    color: #fff !important;
    width: 320px;
}

.daily-goal-option.button {
    display: inline-block !important;
    padding: 8px 20px !important;
    text-align: center !important;
    vertical-align: middle !important;
    cursor: pointer !important;
    background-image: none !important;
    border: 1px solid transparent !important;
    border-radius: 100px !important;
    white-space: nowrap !important;
    line-height: 20px !important;
    font-weight: 700 !important;
    font-size: 15px !important;
    -webkit-font-smoothing: antialiased !important;
    border: 2px solid #fff !important;
    color: #fff !important;
}